/* #root {
  max-width: 1280px;
  margin: 0 auto;
 
  text-align: center;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
 */

 body {
  background: url('https://i.ytimg.com/vi/YSHDBB6id4A/maxresdefault.jpg');
  background-size: cover;
  /* padding: 5px;
  margin: 0px auto; */
  background-repeat: no-repeat;
  font-family: 'Recoleta';
/*   display: flex; */
  justify-content: center;
  align-items: center;
/*     height: 100vh; */ /* Set the height of the body to be 100% of the viewport height */
/*     margin: 0;
*/  }


/* 

button {
  color: #30287A ;

  width: 280px;
  height: 50px;

  padding: 0 20px;
  background: #fff;
  border-radius: 5px;
  
  outline: none;
  border: none;

  cursor: pointer;
  text-align: center;
  transition: all 0.8s linear;
  
  letter-spacing: 0.05em;

}  */