.facebook-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
  
  .left-sidebar,
  .right-sidebar {
    flex-basis: 250px;
    background-color: rgb(203, 171, 247, 0.5);
    /* Optionally add other styles */
  }
  
  .right-sidebar {
    margin-left: auto;
  }
  
  .right-sidebar-content {
    position: absolute;
    top: 20%;
    padding-left: 20px;
    transform: translateY(-50%);
  }
  
  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    text-align: center;
  }
  
  .facebook-feed {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    /* Optionally add other styles */
  }
  
  .card {
    height: 250px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    box-shadow: 0px 0px 5px #ccc;
  }
  
  .all-clicks-input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 1rem;

  }



  .bottom-left-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  
  .btn-primary-chat {
    padding: 10px 50px;
    background-color: #30287A ;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    color: white;
  }

  .btn-primary-chat:hover {

    color: white;
  }
  
  
  
.btn-all-clicks {
    text-decoration: none;
    color: #30287A;
}
  


  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }

  .loading-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }
  