.login {
    display: flex;
    flex-direction: column;
}

.login-signup-section {
    width: 450px;
    min-height: 500px;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2% 5%;
    background-image: linear-gradient(-225deg, rgba(245, 189, 127, 0.5) 50%, rgb(203, 171, 247, 0.5) 50%);
}

/* .login-page {
background-image: url('images/Desktop-illustration.png');
} */


.login-signup-section .con {
    display: -webkit-flex;
    display: flex;
  
    -webkit-justify-content: space-around;
    justify-content: space-around;
  
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  
      margin: 0 auto;
}


.login-signup-box{
    margin: 20px;
}


/* the header form form */
.login-signup-header {
    margin: 2% auto 10% auto;
    text-align: center;
}
/* Login title form form */
.login-signup-header h2 {
    font-size: 250%;
    font-family: 'Playfair Display', serif;
    color: #3e403f;
}
/*  A welcome message or an explanation of the login form */
.login-signup-header p {letter-spacing: 0.05em;}



/* inputs form  */
.form-input {
    width: 280px;
    height: 50px;
  
    margin-top: 2%;
    padding: 20px;
    margin-bottom: 10px;
    
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: #5E6472;
  
    outline: none;
    border: none;
  
    border-radius: 5px;
    transition: 0.2s linear;

    align-items: center;
    

}
input[id="txt-input"] {width: 250px;}
/* focus  */
input:focus {
    transform: translateX(-2px);
    border-radius: 5px;
}


/* input[type="text"] {min-width: 250px;} */
/* buttons  */
.login-signup-button {
    display: inline-block;
    color: #252537;
  
    width: 280px;
    height: 50px;
  
    padding: 0 20px;
    background: #fff;
    border-radius: 5px;
    
    outline: none;
    border: none;
  
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    
    letter-spacing: 0.05em;
}

/*     Sign Up button  */
.sign-up {background: #B8F2E6;}


/* buttons hover */
button:hover {
    transform: translatey(3px);
    box-shadow: none;
}

/* buttons hover Animation */
button:hover {
    animation: ani9 0.4s ease-in-out infinite alternate;
}
@keyframes ani9 {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(5px);
    }
}