.questionnaire {
  text-align: center;
  margin-top: 8rem;
  font-family: 'Recoleta'; 
}

.question {
  margin-bottom: 3rem;
  align-items: center;
  color: #30287A;
}

.answer-btn {
  display: flex;
  flex-direction: column;
  height: 50px;
  color: #30287A;
  align-items: center;
  width: 280px;
  height: 50px;
  padding: 0 20px;
  background: #CBABF7;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: center;
  margin: 25px auto;
  transition: all 0.3s ease-in-out;
}

.answer-btn:hover {
  background-color: #F8EBDF;
  border: 2px solid #CBABF7;
}

.answer-btn input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.answer-btn input[type="radio"]:checked + span {
  color: #fff;
}

.answer-btn span {
  display: inline-block;
  position: relative;
  z-index: 1;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  align-items: center;
}

.next-btn {
  color: white;
  align-items: center;
  width: 280px;
  height: 50px;
  padding: 0 20px;
  background: #30287A;
  border-radius: 5px;
  margin: 2%;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease-in-out;
  letter-spacing: 0.05em;
}

.next-btn:hover {
  background-color: #30287A;
  color: white;
}

.the-answer {
  justify-content: center;
  margin-top: 10px;
  text-align: center;
  align-items: center;
}


    /* .answer-btn input[type="radio"]:checked + span:before {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    left: -2px;
    width: 280px;
    height: calc(100% + 4px);
    border-radius: 5px;
    background-color: #2196f3;
    z-index: -1;
    align-items: center;
  } */
  