.signup {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    
}

.login-signup-box{
    margin: 2%;

}
 

.login-link-sign {
    text-decoration: none;
}

.have-account {
    padding: 10px;
}

body  {
        background-image: url('../images/Desktop-illustration.png');   
}